### Documentation: Validator list

Class Name                 Name                             Description 

{% for validator in validators %}
{{ '%-25s'%(validator.class_name) }}   {{ '%-30s'%(validator.name) }}   {{ '%-120s'%(validator.description) }}
{% endfor %}
